body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-align: center;    
}


/* header */

header {
    position: relative;
    height: 90px;    
}

.logo {    
    position: absolute;
     
    background-image: url(Imagenes/LOGO\ 80X80\ 2.png); 
    background-size: contain;  
    
    width: 80px;
    aspect-ratio: 1/1;
}

.contenedorBuscador {     
    float: right;    
    height: 0px;
    margin-top: 0px;
    margin-right: 10px;
}

#botonBuscar {
    background-color: rgb(43, 30, 141);
    color: white;
    border-radius: 5px;
}

#navHeader {
    position: relative;
    float: right;
    top: 62px;   
}

a {
    color: rgb(43, 30, 141);
    text-decoration: none;
}

#navHeader a{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px;
    margin-right: 5px;    
    transition: all 0.25s;
}

#navHeader a:hover {
    background-color: rgb(43, 30, 141);
    color: white;
}


.navProductosCerrado {
    display: none;
}

#navProductos {
    float: right;
    width: 120px;                
    margin-top: 80px;     
    background-color: white; 
    padding: 30px 30px; 
    border-radius: 5px;
}

#navProductos a {
    background-color: rgb(43, 30, 141);
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    margin-bottom: 10px;
    width: 90px; 
    display: block; 
    transition: all 0.25s;       
}

#navProductos a:hover{
    color:  rgb(43, 30, 141);
    background-color: white;
    border: 1px solid black;    
}

.menuHambur {
    float: right;
    width: 35px;    
    aspect-ratio: 1/1;
    display: none; 
    background-image: url(Imagenes/menuHamburguesa.png); 
    background-size: contain;
    margin-top: 40px;     
}

.navHamburCerrado {
    display: none;
}

#navHambur {
    float: right;
    width: 120px;                
    margin-top: 80px;     
    background-color: white; 
    padding: 30px 30px; 
    border-radius: 5px;
}

#navHambur a {
    background-color: rgb(43, 30, 141);
    color: white;
    border-radius: 5px;
    padding: 5px 5px;
    margin-bottom: 10px;
    width: 90px; 
    display: block; 
    transition: all 0.25s;       
}

#navHambur a:hover{
    color:  rgb(43, 30, 141);
    background-color: white;
    border: 1px solid black;    
}
.menuAbierto {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 999;
}



/* body */

.banner {
    border: 1px solid black;
    background-image: url(Imagenes/Imagen\ de\ WhatsApp\ 2024-05-20\ a\ las\ 23.14.49_3bc8f895.jpg);
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 0;
}

#nuestrosProductos {
    text-align: center;
    margin-bottom: 60px;
}

.contenedor {     
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

section h1 {
    text-align: left;
}

article {
    border: 3px solid black;
    border-radius: 5px;
    padding: 10px 10px;
    margin-bottom: 100px;
}

article p {
    text-align: center;
    padding: 0px 10px;
}

.imagenes {
    display: flex;    
    margin-top: 20px;
    margin-left: 35px;
    border: 1px solid black;
    width: 400px;
    height: 300px;
}

article a {
    border: 1px solid black;  
    border-radius: 5px;
    padding: 5px 5px;
    margin-bottom: 15px;      
    transition: all 0.25s;
}

article a:hover {
    background-color: rgb(43, 30, 141);
    color: white;
}

.logo2 {    
    border: 1px solid black;
    width: 150px;
    height: 60px;
    margin-top: -60px;
    margin-bottom: 50px;
    margin-left: auto;    
    margin-right: auto;
}

.iconosInfo {    
    display: flex;
    justify-content: space-between;    
    align-items: center; 
    max-width: 1000px;    
    margin-left: 250px;     
    margin-bottom: 30px;   
}

.seccionIcono {        
    width: 350px; 
    text-align: center;    
    margin: 40px;         
}

.seccionIcono img {
    width:100px;   
    aspect-ratio: 1/1;
}


/* footer */

footer {
    position: relative;
    height: 100px;    
}

.contacto-redes {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-left: 150px;
    margin-bottom: 25px;
}

#contacto {
    margin-right: 700px;
}

#contacto, #redes {
    flex: 1;
    text-align: left;
}

ul {
    list-style-type: none;    
    padding: 0;
}

li {
    margin-bottom: 10px;
}

#iconoRedes {
    width: 35px;
    margin-right: 10px;
}

#logoFooter { 
    border: 1px solid black;
    display: block;
    width: 150px;
    height: 60px;
    margin: 0 auto;
        
}

#pFooter {    
    bottom: 0;
    right: 0;
    font-size: 12px;
}

#pFooter2 {    
    bottom: -25px;
    right: 0;
    font-size: 11px;
}


/*Pagina Nosotros*/
/* .banner1, .banner2 {
    border: 1px solid black;
    background-image: url('banner.jpg');
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 0;
    margin: 25px;
} */

/*Pagina Administracion*/

/*login*/
/* header, footer {
    position: relative;
    z-index: 1;  Asegura que el header y footer estén por debajo del contenedor 
}
.contenedor {
    border: 1px solid black;        
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.711);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;  Asegura que el contenedor esté por encima del resto del contenido 
}       

.formulario {
    background: white; 
    width: 300px;
    height: 240px;       
    border-radius: 10px;
    text-align: center;
}

button {
    width: 50%;
    margin-top: 30px;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003d80;
}


body 

table{
    font-size: 14px;   
    border-collapse:separate;    
    margin: 10px;  
}

th{
    background-color: black;
    color: white;    
}

td{
    border: 2px solid black;
    text-transform: uppercase;
}

th,td{
    padding: 10px;    
}

.contenedorBuscador {     
    
    margin: 25px;    
}

#botonBuscar {
    background-color: rgb(43, 30, 141);
    color: white;
    border-radius: 5px;
    width: 100px;
}

.contenedorAbm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;    
}

section {
    border: 1px solid black;
    padding: 5px 5px;
}

section h2{
    font-size: 15px;
    text-align: left;
}

input {
    margin: 5px;
} */



/* mediaQuery */

@media(min-width: 768px) {
    #navHambur{
        display: none;
    }
}

@media(max-width: 767px) {
    #navHeader {
        display: none;
    }
    #botonMenu {
        display: block;
    }
    .contenedor {
        display: block;
    }
    .contacto-redes {
        display: block;
    }
    .iconosInfo {
        display: block;
        margin-left: 30px;
    }
}
