body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
    text-align: center;    
}


/* header */


/* body */
.banner1, .banner2 {
    border: 1px solid black;
    background-image: url('banner.jpg');
    background-size: cover;
    color: black;
    text-align: center;
    padding: 100px 0;
    margin: 25px;
}


/* footer */


